<div style="height:350px;">
  <aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">

        <img class="hoverZoomLink" data-ghost-classes="artdeco-entity-image--ghost artdeco-entity-image--ghost-profile" data-ghost-url="https://static-exp1.licdn.com/sc/h/djzv59yelk5urv2ujlazfyvrk" alt="Altaf Khokhar" src="https://media-exp1.licdn.com/dms/image/C5103AQHMe8nt61KIXg/profile-displayphoto-shrink_200_200/0?e=1591228800&amp;v=beta&amp;t=Gow22AM3y7_HqpNQxy_t2CfhgfX2kzw0IGLZaVH_QPY">
      </a>

      <!-- the username -->
      <h1>
        Altaf Khokhar
      </h1>

      <!-- and role or location -->
      <h2>
        Full Stack experienced web developer.
      </h2>

    </header>

    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">

      <div>
        <ul>
          <li style="text-align:left;">
              asp.net MVC
         </li>
          <li style="text-align:left;">
            asp.net  
          </li>

          <li style="text-align:left;">
            angular
          </li>
          <li style="text-align:left;">
            javascript
          </li>

          <li style="text-align:left;">
            jquery
          </li>
          <li style="text-align:left;">
            Web API
          </li>

          <li style="text-align:left;">
            SQL Server
          </li>
          <li style="text-align:left;">
            Elastic Search
          </li>

          <li style="text-align:left;">
            C#
          </li>

          <li style="text-align:left;">
            typescript
          </li>
          <li style="text-align:left;">
            Redis
          </li>
          <li style="text-align:left;">
            RabbitMQ
          </li>
        </ul>
      </div>

    </div>

    <!-- some social links to show off -->
    <ul class="profile-social-links">
      <li style="text-align:left;">
        <a target="_blank" href="https://twitter.com/Altafkhokhar8">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li style="text-align:left;">
        <a target="_blank" href="https://github.com/Altafkhokhar">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>
  </aside>


</div>
